.AboutSection {
    text-align: center;
    color: mediumaquamarine;
    background-color: midnightblue;
    
    font-size: large;
}

.About {
    text-align: center;
    padding: 40px 10px
}

.About__container {
    display: grid;
    grid-template-areas: "Set1 Set2" "Set3 Set4";
    grid-template-columns: 2fr 2fr;
    padding: 50px 20px;
}

.About-info__1 {
    grid-area: Set1;
}

.About-info__2 {
    grid-area: Set2;
}

.About-info__3 {
    grid-area: Set3;
}

.About-info__4 {
    grid-area: Set4;
}
